---
import { cn } from "@/lib/utils"

interface Props {
  orientation?: "horizontal" | "vertical"
  decorative?: boolean
  class?: string
}

const {
  orientation = "horizontal",
  decorative = true,
  class: className,
} = Astro.props
---

<div
  data-slot="separator"
  data-orientation={orientation}
  role={decorative ? "none" : "separator"}
  aria-orientation={!decorative && orientation === "vertical"
    ? "vertical"
    : undefined}
  class={cn(
    "shrink-0 bg-border data-[orientation=horizontal]:h-px data-[orientation=horizontal]:w-full data-[orientation=vertical]:h-full data-[orientation=vertical]:w-px",
    className
  )}
>
</div>
